<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

<h1>About SEO Dogs</h1>
    <p>I started this site as a bit of fun, as a place to share basic SEO knowledge with anyone who wants to learn. I want this to be an inclusive space for folks with any level of SEO understanding - it won't get too technical, and there will be a dog on every page :)</p>

    <p>A weird 3am insomia idea in lockdown combined with a couple of rainy weekends and the site was born. I designed and built the site from scratch using Flask, HTML and CSS. I'm not a designer (clearly) or developer, but I have been learning some new skills and wanted to put them into practice, and so here we are.</p>

    <p>I'm a technical SEO analyst by day at DeepCrawl, animal charity volunteer by night and dog lover all the time, hence the idea for this project, the fundamentals of SEO paired with an adoptable dog.</p>

    <p>If you want to know more about me or this project, feel free to drop me a message - <a href="mailto:ruth.everett@deepcrawl.com">ruth.everett@deepcrawl.com</a> or get in touch via Twitter - <a href="https://twitter.com/rvtheverett">@rvtheverett</a> or <a href="https://www.linkedin.com/in/ruth-everett-b01a6213b/">LinkedIn</a>. </p>

<h2>Meet Ember</h2>
    <p>And not to forget the inspiration for it all, my sweet little doggo Ember.</p>
    <img alt="Ember" src="{{url_for('static', filename='ember.webp')}}" class="responsive">


<br>
<br>
<br>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>