<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessibility</title>

    {% extends "template.html" %}
    {% block content %}
</head>
<body>

<h1>Accessibility</h1>

    <img alt="all the dogs" src="{{url_for('static', filename='accessibility.webp')}}" class="responsive">
    <p>Olive from <a href="https://wildatheartfoundation.org/adoption-process/>">Wild at Heart Foundation.</a></p>

<h2>What Is Web Accessibility?</h2>

<p>Website accessibility is the act of making sure websites are accessible and usable for everyone.</p>

<p>It ensures all users are able to perceive, understand, navigate, and interact with a website and encompasses all disabilities which may affect how a user experiences your website. This includes auditory, cognitive, physical, neurological, and visual.</p>

<p>Accessibility also benefits users with temporary impairments, which may include – a user with a broken arm, or someone recovering from surgery.</p>

<h2>Why Is Accessibility Important?</h2>

<p>Ensuring the websites we work on are accessible for everyone should be a primary concern for everyone in SEO, as well as the designers and developers we work with.</p>

<p>An accessible website helps all users easily navigate the site, improve their experience and find information they are looking for.</p>

<p>In addition to being imperative to user experience, an accessible website is also required by law in most cases.</p>

<h2>The 4 Principles of Accessibility</h2>

    <p>In order to be accessible, a website must meet four principles, known as POUR: Perceivable, Operable, Understandable, Robust.</p>

<h3>Perceivable</h3>

<p>This encompasses removing any barriers that a user may have to accessing your content. This includes making websites accessible to screen readers by supplying text alternatives and a logical structure.</p>

<h3>Operable</h3>

<p>Focusing mainly on the user interface and navigation, in order to be operable, a website must be able to be usable for all users, despite the device they are browsing on. This also includes allowing enough time for users to complete any given task.</p>

<h3>Understandable</h3>

<p>Users need to be able to understand the information displayed on a webpage, as well as clearly understand the user interface and navigate the site. This includes having a predictable and consistent navigation.</p>

<h3>Robust</h3>

<p>In order to be robust, a website must be able to be accessed and interpreted by different technologies and platforms, including screen readers. In addition, it must remain accessible throughout updates to all platforms.</p>

<h2>The Intersection of SEO & Accessibility</h2>

<p>While our SEO work typically focuses on ensuring websites are accessible for search engines, a lot of the areas we focus on also have an impact on the accessibility of the site for users.</p>

<p>Other areas of overlap between SEO and accessibility include; page titles, headings, sitemaps, anchor text, breadcrumb links and alt text.</p>

    <p>I wrote <a href="https://www.searchenginejournal.com/seo-accessibility/379582/">an article</a> which explains this in further detail if you are interested in learning.</p>

<br>
<br>
<br>

<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>