<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO Dogs</title>
    {% extends "template.html" %}
    {% block content %}
</head>

<body>


<h1>Blog Posts</h1>

<div class="cards">
    <div class="card">
      <header>
        <h2>Pandas: Creating, Modifying and Inspecting DataFrames</h2>
      </header>

        <img alt="pandas" src="{{url_for('static', filename='pandas_1.webp')}}" width="600" height="300" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="https://rvth.hashnode.dev/pandas-squid-game"> &#128062; Explore</a>
        </div>
    </div>

    <div class="cards">
    <div class="card">
      <header>
        <h2>An Introduction To Python & Machine Learning For Technical SEO</h2>
      </header>

        <img alt="python for seo" src="{{url_for('static', filename='python_for_seo.webp')}}" width="600" height="300" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="https://www.searchenginejournal.com/python-machine-learning-technical-seo/430000/"> &#128062; Explore</a>
        </div>
    </div>

      <div class="card">
        <header>
          <h2>What is SEO Log File Analysis? A Beginner’s Guide</h2>
        </header>

        <img src="{{url_for('static', filename='logfiles.webp')}}" width="350px" height="250px" alt="log file analysis" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="https://www.searchenginejournal.com/seo-log-file-analysis-guide/419660/">&#128062; Explore</a>
        </div>
      </div>

     <div class="card">
        <header>
          <h2>What Is HTTP/2? Everything You Need to Know for SEO</h2>
        </header>

        <img src="{{url_for('static', filename='http2.webp')}}" width="400px" height="250px" alt="http2" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="https://www.searchenginejournal.com/what-is-http2/410586/">&#128062; Explore</a>
        </div>
      </div>

     <div class="card">
        <header>
          <h2>How & Why Accessibility Matters for SEO</h2>
        </header>

        <img src="{{url_for('static', filename='accessibilityblog.webp')}}" width="400px" height="250px" alt="accessibility" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="https://www.searchenginejournal.com/seo-accessibility/379582/">&#128062; Explore</a>
        </div>
      </div>

      <div class="card">
        <header>
          <h2>How to Use Python to Monitor & Measure Website Performance</h2>
        </header>

        <img src="{{url_for('static', filename='python_performance.webp')}}" width="400px" height="250px" alt="python for performance" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="https://www.searchenginejournal.com/python-monitor-measure-website-performance/371105/">&#128062; Explore</a>
        </div>
      </div>

       <div class="card">
        <header>
          <h2>A 10-Step Process for Understanding Site Performance & Automating Speed Testing</h2>
        </header>

        <img alt="site performance" src="{{url_for('static', filename='site_performance.webp')}}" width="600" height="300" alt="site performance" class="responsive">
        <br>
        <div class="button">
          <a href="https://www.searchenginejournal.com/process-for-understanding-site-performance-automating-speed-testing/352948/">&#128062; Explore</a>
        </div>
      </div>
  </div>

<br>
<br>
<br>




<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
</footer>
    {% endblock %}

</body>
</html>
