<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO Dogs</title>
    {% extends "template.html" %}
    {% block content %}
</head>

<body>


<h1>Blog</h1>

<div class="cards">
    <div class="card">

        <img alt="technical seo" src="{{url_for('static', filename='technicalseo.webp')}}" width="600" height="300" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('technicalseo') }}"> &#128062; Explore</a>
        </div>
    </div>

      <div class="card">

        <img src="{{url_for('static', filename='python.webp')}}" width="350px" height="250px" alt="python" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('pythonblog') }}">&#128062; Explore</a>
        </div>
      </div>

     <div class="card">

        <img src="{{url_for('static', filename='personaldevelopment.webp')}}" width="400px" height="250px" alt="personaldevelopment" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('personaldevelopment') }}">&#128062; Explore</a>
        </div>
      </div>

     <div class="card">

        <img src="{{url_for('static', filename='techethics.webp')}}" width="400px" height="250px" alt="techethics" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('techethics') }}">&#128062; Explore</a>
        </div>
      </div>

      <div class="card">

        <img src="{{url_for('static', filename='machinelearning.webp')}}" width="400px" height="250px" alt="machinelearning" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('machinelearning') }}">&#128062; Explore</a>
        </div>
      </div>

       <div class="card">

        <img src="{{url_for('static', filename='dogs.webp')}}" width="400px" height="250px" alt="dogsblog" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('dogs') }}">&#128062; Explore</a>
        </div>
      </div>
  </div>

<br>
<br>
<br>




<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
</footer>
    {% endblock %}

</body>
</html>