<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTPs</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

<h1>HTTPs</h1>

    <img alt="brave dog" src="{{url_for('static', filename='https.webp')}}" class="responsive">
    <p>The HTTPs protocol is necessary to keep a site secure, and someone looking for a secure home is <i><a href="https://wildatheartfoundation.org/adopt/amber/">the beautiful Amber, find out more about this one-eared wonder on her profile.</i></a></p>

<h2>What is HTTPs?</h2>

<p>HTTPS stands for HyperText Transfer Protocol Secure and is the main protocol used by websites to transfer data securely across the internet.</p>

<p>As a secure protocol, HTTPs protects the communication between a user's browser and a website's server from being intercepted. This means that sites can are safe for users to provide private details.</p>

<h3>The difference between HTTP and HTTPs</h3>

<p>HTTPS essentially encrypts and secures a HTTP request to ensure that the connection cannot be intercepted, and to keep user's information safe.</p>

<h2>The impact of HTTPs on users</h2>

<p>Using HTTPS protocols on a site provides a positive impact on users. This is because it helps to keep their information safe from potential attackers. It also helps users to trust the website by informing them that it is safe to browse the website and, in the case of an eCommerce site, to purchase from the site.</p>

<h2>The impact of HTTPs on SEO</h2>

<p>There is also a positive impact to SEO by using the HTTPS protocol, this is largely because search engines such as Google use it as a ranking factor. Having a secure website helps search engines understand that a website is safe for them to display to search queries.</p>

<p>If a site does not yet contain the HTTPS protocol, a majority of browsers will display a warning message when users try to visit the site. This warning message may also be seen by search engine crawlers and could lead to them dropping a page from the index.</p>

<p>Search engines may also display a warning in Search Results Listing pages, which may prevent users from visiting a website altogether.</p>

<br>
<br>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>