<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indexing</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

<h1>Indexing</h1>
    <img alt="group of dogs" src="{{url_for('static', filename='dog-index.webp')}}" class="responsive">
    <p>An index is a database of <s>all the dogs in the world</s> all the pages on the web. <i>Just like <a href="https://wildatheartfoundation.org/adopt/"> all of these adoptable doggies from Wild At Heart Foundation. Find out more about them here.</a></i></p>
<h2>What is search engine indexing and how does it work?</h2>

<p>Indexing is the process of gathering all of the content found during the crawling process. Once a page has been found and rendered, the search engine crawlers will analyse the content and then store and organise everything found within its index.</p>

<p>Having all content stored within an index makes it super fast for search engines to retrieve information once a user searches for a particular query. Searching through every individual page on the web once a query has been made would be an incredibly slow process, so the index helps them to organise and deliver content relevant to a user's query.</p>

    <p>You can control which pages are added to the index by using some meta directives such as noindex and canonical tags. You can find out more about <a href="{{ url_for('noindex') }}">noindex tags here</a> and <a href="{{ url_for('canonicals') }}">canonical tags here</a>.</p>

<h3>Further Resources</h3>

    <p><a href="https://moz.com/beginners-guide-to-seo/how-search-engines-operate">How Search Engines Operate</a></p>
    <p><a href="https://www.searchenginejournal.com/rendering-seo-introduction/330399/">Search Engine Indexing</a></p>

    <br>
<br>
<br>
<button type="next" class="btn"><a href="{{ url_for('robots') }}">Next &#128062; <br> Robots.txt</a></button>
<br>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>

</body>
</html>