<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO Dogs</title>
    {% extends "template.html" %}
    {% block content %}
</head>

<body>


<h1>Choose a topic..</h1>

<div class="cards">
    <div class="card">
      <header>
        <h2>Crawling & Indexing</h2>
      </header>

        <img alt="crawling and indexing" src="{{url_for('static', filename='index.webp')}}" width="600" height="300" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('crawling') }}"> &#128062; Explore</a>
        </div>
    </div>
  
      <div class="card">
        <header>
          <h2>Site Structure</h2>
        </header>
    
        <img src="{{url_for('static', filename='structure.webp')}}" width="350px" height="250px" alt="site structure" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('structure') }}">&#128062; Explore</a>
        </div>
      </div>
  
     <div class="card">
        <header>
          <h2>On-Page</h2>
        </header>
    
        <img src="{{url_for('static', filename='site.webp')}}" width="400px" height="250px" alt="on page" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('onpage') }}">&#128062; Explore</a>
        </div>
      </div>
  
     <div class="card">
        <header>
          <h2>User Experience</h2>
        </header>
    
        <img src="{{url_for('static', filename='user_experience.webp')}}" width="400px" height="250px" alt="user experience" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('users') }}">&#128062; Explore</a>
        </div>
      </div>
  
      <div class="card">
        <header>
          <h2>Links</h2>
        </header>
    
        <img src="{{url_for('static', filename='love.webp')}}" width="400px" height="250px" alt="links" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('links') }}">&#128062; Explore</a>
        </div>
      </div>
  
       <div class="card">
        <header>
          <h2>International SEO</h2>
        </header>
    
        <img src="{{url_for('static', filename='international.webp')}}" width="400px" height="250px" alt="international seo" class="responsive">
        <br>
        <br>
        <div class="button">
          <a href="{{ url_for('international') }}">&#128062; Explore</a>
        </div>
      </div>
  </div>
  
<br>
<br>
<br>




<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
</footer>
    {% endblock %}

</body>
</html>