<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International SEO</title>

</head>

<body>
    {% extends "template.html" %}
    {% block content %}

<h1>International SEO</h1>

<div class="cards_2">
    <div class="card_2">
      <header>
        <h2>Hreflang</h2>
      </header>
      <p>Hreflang is an attribute used to specify the geographic targeting of a page on a website when there are multiple versions of a page in different languages</p>
        <div class="button_2">
          <a href="{{ url_for('hreflang') }}"> &#128062; Explore</a>
        </div>
      </div>

      <div class="card_2">
        <header>
          <h2>TLD & ccTLD</h2>
          <p>TLDs and ccTLDs refers to the last segment of a website address and are used to represent the purpose of the domain or the originated geo.</p>
        </header>
        <div class="button_2">
          <a href="{{ url_for('tld_cctld') }}">&#128062; Explore</a>
        </div>
      </div>
</div>

<br>
<br>
<br>



<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>