<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noindex and Nofollow Tags</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

<h1>Noindex and Nofollow Tags</h1>
    <img alt="jack russell" src="{{url_for('static', filename='jr-noindex.webp')}}" class="responsive">
<p>Nina from <a href="https://wildatheartfoundation.org/adoption-process/>">Wild at Heart Foundation.</a></p>

<h2>What is a noindex tag?</h2>

<p>A noindex indicates to search engines that can still crawl a page, but they shouldn't include it in their index. It effectively stops a page from appearing in the search engine results pages (SERPs). It is useful for keeping irrelevant, unnecessary pages from being indexed.</p>

<p>Google will still crawl noindex pages, but less frequently than indexable pages, so it can help improve the use of your crawl budget.</p>

<h2>What is a nofollow tag?</h2>

<p>nofollow tags tell a crawler not to follow any links on a page or on a specific link (depending on the implementation), meaning that no link equity will be passed on to the target URL. To restrict crawling and improve crawler efficiency, you can use nofollow to prevent URLs that you don’t want equity to be passed to from being crawled.</p>

<p>Nofollow tags are usually used in conjunction with noindex tags, and the pair complement each other for restricting crawling and indexing of a page.</p>

<h2>How are noindex & nofollow tags applied?</h2>

<p>There are two ways you can add these tags to a webpage. The first is including them within the HTML of the page, known as the meta robots tag. This will look something like this:
<br>
    <code>meta name="robots" content="noindex"
            <br>
          meta name="robots" content="noindex, nofollow"</code>
</p>
<p>There is also the X-Robots-Tags which are placed in the HTTP response header. These look similar to this:
<br>
    <code>
        HTTP/1.1 200 OK
        <br>
        Date: Sun, 27 September 2020 21:42:43 GMT
        <br>
        *(…)*
        <br>
        **X-Robots-Tag: noindex**
        <br>
        *(…)*

    </code>

    <br>
    <br>

    <code>
        HTTP/1.1 200 OK
        <br>
        Date: Sun, 27 September 2020 21:42:43 GMT
        <br>
        *(…)*
        <br>
        **X-Robots-Tag: noindex**
        <br>
        **X-Robots-Tag: nofollow**
        <br>
        *(…)*
    </code>
</p>
<p>The X-Robots tags are particularly useful for controlling the indexing of non-html content, such as PDF files, video or word documents where it isn’t possible to add robots directives in the HTML head. For example, if you were wanting to block a specific image or video.</p>

<p>Regular expressions can also be used to group files together for, for example:
    <br>
    <code>
        Files ~ “\. (png|jpeg|gif|webp)$”
        <br>
        Header set X-Robots-Tag “noindex”
    </code>
</p>
    <p>This will noindex any image files, regardless of their extension type.</p>
<br>
<br>
<br>
<button type="next" class="btn"><a href="{{ url_for('canonicals') }}">Next &#128062; <br> Canonicals</a></button>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>

</body>
</html>