<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Page SEO</title>

</head>

<body>
    {% extends "template.html" %}
    {% block content %}

<h1>On Page SEO</h1>

<div class="cards_2">
    <div class="card_2">
      <header>
        <h2>Heading Tags</h2>
      </header>
      <p>Heading tags are used to break up the content on a page and provide a logical structure.</p>
        <div class="button_2">
          <a href="{{ url_for('headings') }}"> &#128062; Explore</a>
        </div>
      </div>

      <div class="card_2">
        <header>
          <h2>Meta Data</h2>
          <p>Meta data is used to provide information about a webpage's content to help search engines better understand websites.</p>
        </header>
        <div class="button_2">
          <a href="{{ url_for('metadata') }}">&#128062; Explore</a>
        </div>
      </div>

     <div class="card_2">
        <header>
          <h2>Page Titles</h2>
        </header>
        <p>Title tags are used to specify the title of a web page, they are also displayed in SERPs.</p>
        <div class="button_2">
          <a href="{{ url_for('titles') }}">&#128062; Explore</a>
        </div>
      </div>

         <div class="card_2">
        <header>
          <h2>Meta Descriptions</h2>
        </header>
        <p>Meta descriptions are used to provide a description of a page that is used by search engines.</p>
        <div class="button_2">
          <a href="{{ url_for('descriptions') }}">&#128062; Explore</a>
        </div>
      </div>

        <div class="card_2">
        <header>
          <h2>Alt Text</h2>
        </header>
        <p>Alt text is used to describe what an image contains and is useful for both search engines and users.</p>
        <div class="button_2">
          <a href="{{ url_for('alttext') }}">&#128062; Explore</a>
        </div>
      </div>
</div>

<br>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>