<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Structure</title>

</head>

<body>
    {% extends "template.html" %}
    {% block content %}

<h1>Site Structure</h1>

<div class="cards_2">
    <div class="card_2">
      <header>
        <h2>Site Architecture</h2>
      </header>
      <p>Site architecture refers to the structure of content on a website, including content hierarchy and internal linking.</p>
        <div class="button_2">
          <a href="{{ url_for('architecture') }}"> &#128062; Explore</a>
        </div>
      </div>

      <div class="card_2">
        <header>
          <h2>Sitemaps</h2>
          <p>A sitemap is essentially a list of all of the URLs found on a website, it acts as a map for search engines to tell them which content to visit.</p>
        </header>
        <div class="button_2">
          <a href="{{ url_for('sitemap') }}">&#128062; Explore</a>
        </div>
      </div>

     <div class="card_2">
        <header>
          <h2>URLs</h2>
        </header>
        <p>URL stands for Uniform Resource Locator and is essentially the website address and location of the website on the internet.</p>
        <div class="button_2">
          <a href="{{ url_for('urls') }}">&#128062; Explore</a>
        </div>
      </div>

        <div class="card_2">
        <header>
          <h2>HTTPs</h2>
        </header>
        <p>HTTPS stands for HyperText Transfer Protocol Secure and is the main protocol used by websites to transfer data securely across the internet.</p>
        <div class="button_2">
          <a href="{{ url_for('https') }}">&#128062; Explore</a>
        </div>
      </div>
</div>

<br>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>