<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>SEO Dogs</title>

    <meta property="og:title" content="SEO Dogs">
    <meta property="og:description" content="The fundamentals of SEO, explained by dogs">
    <meta property="og:image" content="{{url_for('static', filename='structure.webp')}}">
    <meta property="og:url" content="{{ url_for('home') }}">

<script src="https://unpkg.com/web-vitals@0.2.2/dist/web-vitals.es5.umd.min.js"></script>

<script>
function sendToGoogleAnalytics({name, delta, id}) {
    // Assumes the global `gtag()` function exists, see:
    // https://developers.google.com/analytics/devguides/collection/gtagjs
    gtag('event', name, {
        event_category: 'Web Vitals',
        // Google Analytics metrics must be integers, so the value is rounded.
        // For CLS the value is first multiplied by 1000 for greater precision
        // (note: increase the multiplier for greater precision if needed).
        value: Math.round(name === 'CLS' ? delta * 1000 : delta),
        // The `id` value will be unique to the current page load. When sending
        // multiple values from the same page (e.g. for CLS), Google Analytics can
        // compute a total by grouping on this ID (note: requires `eventLabel` to
        // be a dimension in your report).
        event_label: id,
        // Use a non-interaction event to avoid affecting bounce rate.
        non_interaction: true,
    });
}

addEventListener('DOMContentLoaded', function() {
    webVitals.getCLS(sendToGoogleAnalytics);
    webVitals.getFID(sendToGoogleAnalytics);
    webVitals.getLCP(sendToGoogleAnalytics);
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-177317435-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>

<header>
    <nav>
        <div class="container container-nav">
            <ul>
            <li><a href="https://rvth.blog">Blog</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
            </ul>

  <div class="container container-header">
        <div class="title">
            <a href="{{ url_for('home') }}"><img alt="seo dogs logo" src="{{url_for('static', filename='SEO-DOGS_LOGO_BLACK.png')}}">
            </a>
            <p class="hero_role">The fundamentals of SEO, explained by dogs<span>
        </div>
    </div>
</header>

    {% block content %}
    {% endblock %}

 </body>
</html>