<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>SEO Dogs</title>

    <meta property="og:title" content="SEO Dogs">
    <meta property="og:description" content="The fundamentals of SEO, explained by dogs">
    <meta property="og:image" content="{{url_for('static', filename='structure.webp')}}">
    <meta property="og:url" content="{{ url_for('home') }}">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-177317435-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<header>
    <nav>
        <div class="container container-nav">
            <ul>
            <li><a href="https://rvth.blog">Blog</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
            </ul>

  <div class="container container-header">
        <div class="title">
            <a href="{{ url_for('home') }}">SEO Dogs</a>
            <p class="hero_role">The fundamentals of SEO, explained by dogs<span>
        </div>
    </div>
</header>

    {% block content %}
    {% endblock %}

 </body>
</html>