<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S3WN5G');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>SEO Dogs</title>

    <meta property="og:title" content="SEO Dogs">
    <meta property="og:description" content="The fundamentals of SEO, explained by dogs">
    <meta property="og:image" content="{{url_for('static', filename='structure.webp')}}">
    <meta property="og:url" content="{{ url_for('home') }}">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5S3WN5G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
    <nav>
        <div class="container container-nav">
            <ul>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
            </ul>

  <div class="container container-header">
        <div class="title">
            <a href="{{ url_for('home') }}"><img alt="seo dogs logo" src="{{url_for('static', filename='SEO-DOGS_LOGO_BLACK.png')}}">
            </a>
            <p class="hero_role">The fundamentals of SEO, explained by dogs<span>
        </div>
    </div>
</header>

    {% block content %}
    {% endblock %}

 </body>
</html>