<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TLD and ccTLD</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

<h1>Hreflang</h1>

    <img alt="korean puppy female" src="{{url_for('static', filename='cctld.webp')}}" class="responsive">
    <p>It's Poly's sister! Roly from <a href="https://wildatheartfoundation.org/adoption-process/>">Wild at Heart Foundation.</a></p>

<h2>What is a TLD?</h2>

<p>TLD stands for Top Level Domain, it refers to the last segment of a website address, or the element after the dot symbol. Top Level Domains are also known as domain suffixes.</p>

<h3>Examples of TLDs</h3>

<p>Historically, TLDs were used to represent the purpose of the domain or the originated geographical area, for example; .co.uk for UK based or .th for Thailand based, as well as .edu for educational facilities or .org for charity organisations.</p>

<p>However, in 2010 it was agreed that generic TLDs can also be used, as well as those specific to companies. For example .dev and .digital can now be used, and you can even get a .dog TLD.</p>

<h2>What is a ccTLD?</h2>

<p>ccTLD stands for Country Code Top Level Domain and is used to display to both users and search engines which country a website is registered to. Similar to TLD it is the extension found after the domain name.</p>

<p>ccTLDs are seen as separate domains and are used to target specific countries and regions, however they are not used to target different languages.</p>

<h3>Examples of ccTLDs</h3>

<p>Examples of ccTLDs include .au for Australia, .ca for Canada and .kr for Korea.</p>

<h3>Pros of using ccTLDs</h3>

<p>The main benefit of using a ccTLD is that they clearly display to users of the target market that they are relevant to them, this is essential for gaining trust from site users and potential visitors.</p>

<p>ccTLDs also make the targeted location of the site clear to search engine crawlers which means that the location of the server used is not relevant to them.</p>

<p>However, ccTLDs are also more expensive to purchase and run, and require more infrastructure to be hosted separately. There are also strict requirements to be registered in some countries.</p>

<br>
<br>
<br>

<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>