<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URLs</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

<h1>URLs</h1>

    <img alt="brave dog" src="{{url_for('static', filename='url.webp')}}" class="responsive">
    <p>Doori from <a href="https://wildatheartfoundation.org/adoption-process/>">Wild at Heart Foundation.</a></p>

<h2>What is a URL?</h2>

<p>URL stands for Uniform Resource Locator and is essentially the website address and location of the website on the internet.</p>

<h3>Anatomy of a URL</h3>

<p>Computers use IP addresses to communicate with servers in order to load a website, and a URL is essentially the text with replaces these IP addresses. A URL contains a protocol, for example https:// and a domain name, which is the human readable name of the location of the website. The domain name may also be followed by a path, which could include the folder, sub-folder and page name. URLs may also contain parameters, facets or anchor links.</p>

        <img alt="URL structure" src="{{url_for('static', filename='url-structure.webp')}}" class="responsive">

<h2>URL impact on SEO</h2>

<p>URLs can impact SEO in a couple of different ways, including user experience and rankings.</p>

<h3>User experience</h3>

<p>An easy to read and understand URL helps users to discover quickly what a page is about. They should make it clear to users what the destination page will be once they click the link.<p>

<h3>Rankings</h3>

    <p>Although a minor ranking factor, URLs are used by search engines to determine whether a page is relevant to a searchers query. However, it isn't recommended to unnecessarily add keywords to a URL due to the small impact they have on rankings. Instead, ensure URLs are written for users, to inform them of a page's content.</p>

<h2>URL Best practice</h2>

<p>When writing a URL, keep it simple and accurate to the page content. The best rule of thumb is to ensure they are concise, but informative.</p>

<p>To separate words in a URL, hyphens are recommended due to readability, as well as using lowercase letters site wide.</p>

<br>
<button type="next" class="btn"><a href="{{ url_for('https') }}">Next &#128062; <br>HTTPs</a></button>
<br>
<br>
<br>


<footer class="page_footer">
<p>&#128062; Made with &#128420; by Ruth</p>
<p>&#169; 2020</p>
</footer>
    {% endblock %}

</body>
</html>